<div id="blog" class="row">

<div id="" class="sixteen columns"></div><!-- /end -->
	<hr class="sixteen columns">

<div id="" class="four columns">
<h5>FROM THE BLOG</h5>
	<p>
	Catch up on all the latest<br>news about Neptune.
	</p>
<span class="glyphs">)</span><h6 class="calltoaction fancylink">SEE MORE</h6>
	
<!-- 	<span class="glyphs fancylink">$</span><h5 class="calltoaction fancylink">SEE MORE</h5> -->

</div><!-- / -->

<div class="row offset-by-four">




	
<div class="eight columns article">
	<h4>BRAND NEW THEME NEPTUNE.</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco.<span class="readmore">:: read more ::</span>
	</p>
</div>

<div id="" class="four columns article-aside">
	<p>23rd January<span class="clock">P</span></p>
	<a><p class="small">6 comments<span class="comment-bubble">c</span></p></a>
</div><!-- / -->








<div class="eight columns article">
	<h4>OTHER HEAPS GOOD NEWS.</h4>
	<p>Exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore.<span class="readmore">:: read more ::</span>
	</p>
</div>

<div id="" class="four columns article-aside">
	<p>12th January<span class="clock">P</span></p>
	<a><p class="small">6 comments<span class="comment-bubble">c</span></p></a>
</div><!-- / -->





<div class="eight columns article">
	<h4>BRAND NEW THEME NEPTUNE.</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco.<span class="readmore">:: read more ::</span>
	</p>
</div>

<div id="" class="four columns article-aside">
	<p>7th January<span class="clock">P</span></p>
	<a><p class="small">6 comments<span class="comment-bubble">c</span></p></a>
</div><!-- / -->

<br class="clear" />
</div><!-- /end offset row -->
</div><!-- /end portfolio -->