<hr class="sixteen columns">




<ul id="cycle" class="row">

<li id="" class="sixteen columns cycle-list">
	<div id="" class="twelve columns">
		<img src="/images/mac.png" alt="">
	</div><!-- /end twelve columns -->
	<div id="" class="four columns">
		<img src="/images/mac.png" alt="">
	</div><!-- /end four columns -->
</li><!-- / -->




</ul><!-- / -->