<div id="portfolio" class="row">
<div id="" class="sixteen columns"></div><!-- / -->
	<hr class="sixteen columns">

<div id="" class="four columns">
<h5>PORTFOLIO</h5>
	<p>
	A show and tell of what's been
	keeping us busy.
	</p>
<span class="glyphs fancylink">$</span><h6 class="calltoaction fancylink">SEE MORE</h6>
	
<!-- 	<span class="glyphs fancylink">$</span><h5 class="calltoaction fancylink">SEE MORE</h5> -->

</div><!-- / -->

<div class="row offset-by-four">

<div class="four columns">
	<a href="#" alt="" class="scale-with-grid corners">
		<img src="/images/thumb2.jpg" alt="">
	</a>
</div>

<div class="four columns">
	<a href="#" alt="" class="scale-with-grid corners">
		<img src="/images/thumb3.jpg" alt="">
	</a>
</div>

<div class="four columns">
	<a href="#" alt="" class="scale-with-grid corners">
		<img src="/images/thumb1.jpg" alt="">
	</a>
</div>

<div class="four columns">
	<a href="#" alt="" class="scale-with-grid corners">
		<img src="/images/thumb4.jpg" alt="">
	</a>
</div>

<div class="four columns">
	<a href="#" alt="" class="scale-with-grid corners">
		<img src="/images/thumb1.jpg" alt="">
	</a>
</div>

<div class="four columns">
	<a href="#" alt="" class="scale-with-grid corners">
		<img src="/images/thumb2.jpg" alt="">
	</a>
</div>

<div class="four columns">
	<a href="#" alt="" class="scale-with-grid corners">
		<img src="/images/thumb2.jpg" alt="">
	</a>
</div>

<div class="four columns">
	<a href="#" alt="" class="scale-with-grid corners">
		<img src="/images/thumb1.jpg" alt="">
	</a>
</div>

<div class="four columns">
	<a href="#" alt="" class="scale-with-grid corners">
		<img src="/images/thumb3.jpg" alt="">
	</a>
</div>

<br class="clear" />
</div><!-- /end offset row -->
</div><!-- /end portfolio -->