<hr class="sixteen columns">



<ul id="sequence" class="row">
	
	<li >
		


		<div id="" class="twelve columns">
			<img src="/images/mac.png" alt="">
		</div>
		<div id="" class=" dave four columns">			
				<h3 class="highlight ">HELLO THERE.</h3>
				<p class="">THIS IS A PARAGRAPH GIVING FURTHER DETAIL.</p>
				<a class="button radius">SIGN UP</a>
		</div><!-- / -->

	</li>

</ul><!-- / -->




<br class="clear" />

