<hr class="sixteen columns">

<div id="slider" class="row">
			
<div class="flexslider">
<ul class="slides">
			    
	<li class="row frame">
		<div id="" class="twelve columns img-anim-1xxx">
			<img src="/images/mac.png" alt="">
		</div>	
		<div id="" class="text-anim-1 four columns">			
				<h3 class="highlight">FIRST SLIDE</h3>
					<hr>
				<p>THIS IS A PARAGRAPH GIVING FURTHER DETAIL.</p>
					<hr>
				<a class="button radius">SIGN UP</a>
		</div><!-- / -->
	</li>

	<li class="row frame">
		<div id="" class="twelve columns img-anim-1xxx">
			<img src="/images/mac2.png" alt="">
		</div>	
		<div id="" class="text-anim-1 four columns">			
				<h3 class="highlight">SECOND SLIDE</h3>
					<hr>
				<p>THIS IS A PARAGRAPH GIVING FURTHER DETAIL.</p>
					<hr>
				<a class="button radius">SIGN UP</a>
		</div><!-- / -->
	</li>



</ul>
</div><!-- /end flexslider -->
</div><!-- /end slider -->

<div id="" class="flex-container sixteen columns hide-on-phones">
</div><!-- /end slider controls -->	