<hr class="sixteen columns">

<div id="slider" class="sixteen columns">
			
<div class="flexslider">
<ul class="slides">
			    
	<li>
		<img src="/images/slide1.jpg" alt="">
			<div class="captions hide-on-phones">
				<h3>LESS extends CSS with dynamic behavior.</h3>
			</div>
	</li>

	<li>
		<img src="/images/slide1.jpg" alt="">
			<div class="captions hide-on-phones">
				<h3>Runs on both the client & server-side.</h3>
			</div>
	</li>

	<li>
		<img src="/images/slide1.jpg" alt="">
			<div class="captions hide-on-phones">
				<h3>Works with Node.js and Rhino.</h3>
			</div>
	</li>

</ul>
</div><!-- /end flexslider -->
</div><!-- /end slider -->

<div id="" class="flex-container sixteen columns hide-on-phones">
</div><!-- /end slider controls -->	